body {
  height: 100%;
  background-image: url(../images/sky.jpg);
}

.wrapper {
  width: 960px;
  margin: auto;
  color: whitesmoke;
}

#buttons-view {
  width: 100%;
  margin: 0 15px;
  display: flex;
  flex-wrap: wrap;
}

h2 {
  margin: 50px 15px;
}

.display {
  width: 100%;
  margin: 0 15px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

.btn {
  margin-right: 5px;
  margin-top: 5px;
}

img {
  margin: 0 15px;
}

form {
  width: 200px;
  margin-left: 15px;
}
