.wrapper {
  width: 960px;
  margin: auto;
}

#buttons-view {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

.display {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}
